
<h1>Articles in the same categories will be listed here</h1>
<div class="row no-gutters">
<div class="col-sm-6">
<div class="card mb-3 card-height">
  <div class="row no-gutters">
    <div class="col-md-6">
      <%= image_tag("fantasy-3879972_960_720", class: 'card-img') %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title" id= 'current'>Pop</h5>
        <h5 class="card-text font-weight bold">Top music</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-sm-6">
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6">
      <%= image_tag("fantasy-3879972_960_720", class: 'card-img') %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title" id= 'current'>Pop</h5>
        <h5 class="card-text font-weight bold">Top music</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
