

  <!-- Footer -->
  <footer id="sticky-footer" class="footer">
    <div class="row">
        <div class="footer-flex">
        <div>
        <p class= 'mt-1 ml-3'>FooterBrand</p>
        </div>
         <div>
       <ul class= 'd-flex '>
       <li id = 'current'>Private Policy</li>
        <li id= 'current'>Terms and condition</li>
         <li class= 'text-white'>Copyright 2014.All rights reserved</li>
       </ul>
        </div>
         <div>
       <ul class= 'd-flex  mx-auto'>
       <li class= 'text-white'>Connent with us at:</li>
       <li><a href="#"><i class="fa fa-facebook fa-2x "></i></a></li>
         <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram fa-2x "></i></a></li>
       </ul>
        </div>
      </div>
    </div>
  </footer>