<!-- Footer -->
  <footer class="footer bg-light" id="sticky-footer">
    <div class="container-fluid p-0">
      <div class="row" id= "foot-r">
      <div class="col-sm-2 h-100 text-center text-sm-left my-auto">
          <ul class="list-inline mt-2 unstyled">
            <li class="list-inline-item ml-3">
              <%= image_tag("Shola.png", size: '50x20') %> 
            </li>
          </ul>
        </div>
        <div class="col-sm-7 h-100 text-center text-sm-left my-auto">
          <ul class="list-inline mt-2 unstyled">
            <li class="list-inline-item">
              <a id='current' href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a id='current' href="#">Terms and condition</a>
            </li>
            <li class="list-inline-item text-white">
              Copyright 2014.All rights reserved
            </li>
          </ul>
        </div>
        <div class="col-sm-3 h-100 text-center text-sm-right my-auto">
          <ul class="list-inline mt-2 small-s">
           <li class="list-inline-item text-white">Connect with us at:</li>
            <li class="list-inline-item ">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter-square"></i>
              </a>
            </li>
            <li class="list-inline-item mr-2">
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>