<% if notice %>
	<div class='alert alert-success' id= 'fade-out-target'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
	<%= notice %>
	</div>
<% end %>
<% if alert %>
	<div class='alert alert-danger' id= 'fade-out-target'>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
	<%= alert %>
	</div>
<% end %>